*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container .section-1{
    box-sizing: border-box;
    padding: 3px ;
    background-image:url("images/assets/backgrounds/h_img.jpg");
    background-size:cover ;
    min-height: 30em; 
    width: 100vw;
    
}
.container .section-1 .logo{
    display: flex;
    justify-content: center;
    margin-top: 130px;
    margin-left: 70px;
}
h1{
    display: flex;
    justify-content: center;
    color: #fff;
}h2{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 10px;
}